{% extends "base.html.twig" %}

{% block title %}
Listes de Voitures
{% endblock %}

{% block content %}
<h1>Cars</h1>
<ul>
    {% for car in cars %}
            <li>
                <a href="{{env.base_path}}/cars/{{car.id}}">
                    {{ car.brand }} {{car.model}}
                </a>
            </li>
    {% endfor %}
</ul>
{% endblock %}